src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <apikit:config name="employee-sapi-config" api="employee-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="employee-sapi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employee-sapi-config" />
		<error-handler ref="global-error-handler" />
        
    </flow>
    <flow name="put:\employee\(empId):employee-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="f842dddf-8290-4d4e-9c06-ea0e8a18ea79" name="put-subflow" />
    </flow>
    <flow name="delete:\employee\(empId):employee-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="968c7f20-a71a-48fc-8547-d67f7091989a" name="delete-subflow" />
    </flow>
    <flow name="get:\employee:employee-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="be62d3a7-2152-4ce5-884d-a5598dc9ed7b" name="get-subflow" />
    </flow>
    <flow name="get:\employee\(empId):employee-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="90bcfdb2-513c-4c00-90a7-ffad800108e3" name="get-employee" />
    </flow>
	<flow name="post:\employee:application\json:employee-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="9ed0b4a0-6c3b-4231-8a10-d4342d06e2e0" name="post-subflow" />
    </flow>
</mule>
